<%- include('../views/header.ejs') %>


    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand me-2" href="#">ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#viewuser">viewuser</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="/admin/register">AddUser</a>
            </li>

            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Launch demo modal
            </button> -->
          </ul>

          <div>
            <form class="d-flex mx-2" method="POST" action="/admin/search">
              <input class="mx-2" type="search" placeholder="Search" aria-label="Search" name="search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>

          <div>
            <form class="d-flex mx-2" method="POST" action="/admin/logout">
              <button class="btn btn-outline-danger rounded-4 mx-2" type="submit">logout</button>
            </form>
          </div>

        </div>
      </div>
    </nav>


    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">

        <!-- USER HOME VIEW SECTION -->
        <div class="admin_sections">
            <h1>USER MANAGEMENT SYSTEM</h1>
            <p>Your most important work is always ahead of you, never behind you.</p>
        </div>



      <!-- VIEW USER DATA ON TABLE  -->
      <div style="height:auto; padding-top: 50px;" id="viewuser">
          <table class="table col-12 admin_table" >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Profile</th>
                    <th scope="col" class="text-center">Verify</th>
                    <th scope="col">Updation</th>
                </tr>
            </thead>
            <tbody>
                <% if(users.length > 0){ 
                    for(let i = 0;i < users.length ;i++){ %>
                <tr>
                    <th><%= i+1 %></th>
                    <td><%= users[i].firstname %></td>
                    <td><%= users[i].lastname %></td>
                    <td><%= users[i].email %></td>
                    <td><%= users[i].phone %></td>
                    <td width="200rem" height="150rem"><img src="<%= users[i].profile %>" alt="Error Loading" class="col-12" style="object-fit: contain;"></td>
                    <td  class="text-center"><% if(users[i].is_verified) {%>
                            Verified &#9989
                        <% } else {%>
                            Not Verified &#10060
                        <% } %>
                    </td>
                    <td  colspan="2">
                        <form method="POST" action="/admin/edit?id=<%= users[i]._id %>">
                            <button class="btn btn-outline-primary rounded-0 rounded-top form-control mb-2" type="submit" >Edit</button>
                        </form>

                        <form method="POST" action="/admin/delete?id=<%= users[i]._id %>">
                            <button class="btn btn-outline-danger rounded-0 rounded-bottom form-control" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }
                }else{ %>
                    <tr class="text-center bg-danger">
                      <th colspan="8">User Data Is Not Found</th>
                    </tr>
              <% }%>
            </tbody>
          </table>
      </div>
  </div>



  



<%- include('../views/footer.ejs') %>

