<%- include('../views/header.ejs') %>
    <div class="main container d-flex ">

        <div class="main-body container col-xl-4 col-md-7 col-sm-8">
        
            <!-- Heading section -->
            <div class="title text-center mt-3 mb-3">
                <h1>Login</h1>
                <p>Existing User</p>
                <!-- Registration result -->
                <div>
                    <% if(typeof message != 'undefined') { %>
                        <p class="<%= text %>" id="result_message">&#<%= Symbol %>;<%= message %></p>
                    <% } %>
                </div>
            </div>

            <!-- form section -->
            <form method="POST" action="/login">

                <!-- username -->
                <div class="form-group mt-3">
                    <span>Userame :</span>
                    <input type="text" class="form-control bg-transparent border-0 rounded-0 border-bottom" placeholder="enter username" name="username" value="" onblur="usernameValidate(this)">
                    <p id="validateUsername" class="text-danger"></p>
                </div>

                <!-- Password -->
                <div class="form-group mt-3">
                    <span>Password :</span>
                    <input type="password" class="form-control bg-transparent border-0 rounded-0 border-bottom" placeholder="enter password" name="password" value="" onblur="passwordValidate(this)">
                    <p id="validatePassword" class="text-danger"></p>

                </div>

                <!-- Login button -->
                <div class="form-group text-center mt-4 mb-4">
                    <input type="submit" class="button btn btn-outline-dark rounded-pill col-md-7 col-sm-12" value="Login">
                </div>
            </form>

            <!-- Register user navigation link -->
            <div class="form-group text-center mt-3 mb-3">
                <span class="text-muted">Don't have an account? </span><a href="/register">Sign up</a>
            </div>

        </div>
    </div>


    <script>
        const result = document.getElementById('result_message');
        setTimeout(() => {
            result.innerHTML = '';
        },2000);
    </script>
<%- include('../views/footer.ejs') %>